<%= link_to "Home", root_path %>
<br>
<h1>this is the sandbox page</h1>


<div id="image-track">
  <img src="https://plus.unsplash.com/premium_photo-1672855635926-c0c4c0483bf6" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1586513677534-b926f5477204" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1557389352-e721da78ad9f" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1703868673325-64d7d7afa618" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1689865725935-2a981317abb7" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1543449982-bea74f6b26df" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1682417844651-ddb5c832f5bd" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1521080755838-d2311117f767" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1492305175278-3b3afaa2f31f" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1703717101037-132d2c3fdd03" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1523978591478-c753949ff840" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1632141141846-46dacd50d50c" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1682687220801-eef408f95d71" alt="" class="image">
  <img src="https://images.unsplash.com/photo-1703633489711-274ae34b1dcf" alt="" class="image">
</div>

